/* ESTILOS GERAIS */

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-Regular.ttf");
}

@font-face {
    font-family: "DM Sans Bold";
    src: url("../fonts/DMSans-Bold.ttf");
}

html,
body {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
}

body {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(-0);
    }
}

b {
    font-family: "DM Sans Bold";
}

.mobile-frame {
    /* max-width: 375px;
    max-height: 667px; */
    max-width: 414px;
    max-height: 756px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.08);
}

.bg-brand-gradient {
    background-image: linear-gradient(135deg, #006ED2 0%, #00C2E8 100%);
}

.bg-brand-azul {
    background-color: #006ED2;
}

.bg-brand-verde {
    background-color: #00C6B9;
}

.bg-brand-amarelo {
    background-color: #FFC845;
}

.bg-brand-vermelho {
    background-color: #FF8674;
}

.text-preto {
    color: #333333;
}

.text-cinza {
    color: #A2AAAD;
}


/* SPLASH SCREEN */

#splash-screen {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 414px;
}

#splash-screen .logo {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 200px;
}

#splash-screen .loader {
    color: #FFC845;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}


/* TELAS DO PROCESSO DE ONBOARDING */

#onboarding-1 {
    background-image: url(../img/bg-onboarding-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -10rem center;
    padding: 4rem 0 0 0;
}

#onboarding-2 {
    background-image: url(../img/bg-onboarding-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -12rem center;
    padding: 4rem 0 0 0;
}

#onboarding-3 {
    background-image: url(../img/bg-onboarding-3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -10rem center;
    padding: 4rem 0 0 0;
}

.icon-contas-boletos {
    width: 128px;
    height: 128px;
}

.marcadores {
    margin: 0 35%;
}

.marcador {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #a2aaad;
    border: 1px solid #a2aaad;
}

.marcador-verde {
    width: 20px;
    height: 20px;
    background-color: #00C6B9;
    border-radius: 100%;
}

.marcador-amarelo {
    width: 20px;
    height: 20px;
    background-color: #FFC845;
    border-radius: 100%;
}

.marcador-vermelho {
    width: 20px;
    height: 20px;
    background-color: #FF8674;
    border-radius: 100%;
}

.seta {
    margin-top: 42%;
    width: 40px;
    height: 40px;
}

#onboarding-3 .acessar-conta {
    margin-top: 42%;
}


/* LOGIN */

#login {
    background-image: url(../img/bg-login.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 0 1rem;
}

.social-login {
    padding: 0 4vw;
}

.social-login img {
    background: #ffffff;
    border-radius: 100%;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.16);
    padding: 28px;
}

.btn-login {
    background-color: #00C6B9;
    padding: 8px 56px;
    border-radius: 40px;
    font-family: "DM Sans Bold";
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    transition: ease .4s all;
}

.btn-login:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #00BF6F;
}